<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>19/02/17 13:18:27</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLeadParam.setData()[pri:0, instance:utils.TC002_CreateLeadParam@20322d26]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@731260860</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>19/02/17 13:18:29</td>   <td>1320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:utils.TC002_CreateLeadParam@20322d26]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@731260860</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/02/17 13:18:53</td>   <td>25226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLeadParam.CreateLead1(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:utils.TC002_CreateLeadParam@20322d26]">CreateLead1</td> 
  <td>main@731260860</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>19/02/17 13:19:08</td>   <td>40246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethod.closeApp()[pri:0, instance:utils.TC002_CreateLeadParam@20322d26]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@731260860</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>19/02/17 13:19:10</td>   <td>42466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:utils.TC002_CreateLeadParam@20322d26]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@731260860</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/02/17 13:19:31</td>   <td>63443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLeadParam.CreateLead1(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:utils.TC002_CreateLeadParam@20322d26]">CreateLead1</td> 
  <td>main@731260860</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>19/02/17 13:19:45</td>   <td>78186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethod.closeApp()[pri:0, instance:utils.TC002_CreateLeadParam@20322d26]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@731260860</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>19/02/17 13:19:48</td>   <td>80550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:utils.TC002_CreateLeadParam@20322d26]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@731260860</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/02/17 13:20:08</td>   <td>100826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLeadParam.CreateLead1(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:utils.TC002_CreateLeadParam@20322d26]">CreateLead1</td> 
  <td>main@731260860</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>19/02/17 13:20:23</td>   <td>115814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethod.closeApp()[pri:0, instance:utils.TC002_CreateLeadParam@20322d26]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@731260860</td>   <td></td> </tr>
</table>
